<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Repositories</title>

    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/repository.css">
</head>

<body>
    <header class="section">
        <div class="nav clearfix">
            <div class="left-section float--left">
                <div class="logo">
                    <a href="/"><img src="../public/favicon.png" alt="파비콘"></a>
                </div>
                <div class="left-input">
                    <input type="text" placeholder="Search or jump to...">
                </div>
                <ul>
                    <li><a href="#">Pull&nbsp;requests</a></li>
                    <li><a href="#">Issues</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Explore</a></li>
                </ul>
            </div>
            <div class="right-section float--right">
                <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </header>

    <div class="main-nav">
        <ul>
            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>Overview</a></li>
            <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i>Repositories</a></li>
            <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i>Projects</a></li>
            <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>Packages</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="center-content">

            <div class="left-content">
                <div class="profile"></div>
                <div class="button">
                    <button>Edit profile</button>
                </div>
                <ul>
                    <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>followers&nbsp;·</a></li>
                    <li><a href="#">following&nbsp;·</a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>star</a></li>
                </ul>
            </div>

            <div class="right-content">
                <div class="up">
                    <div class="rc-input">
                        <input type="text" placeholder="Find a repository...">
                    </div>
                    <div class="rc-b1">
                        <button>Type:&nbsp;All</button>
                    </div>
                    <div class="rc-b2">
                        <button>Language:&nbsp;All</button>
                    </div>
                    <form  method="GET" action="/process/upload_file">
                        <div class="rc-b3">
                            <button><i class="fa fa-bookmark-o" aria-hidden="true"></i>New</button>
                        </div>
                    </form>
                </div>
                <div class="down">
                    <% 
                    for(var i =0 ; i<results[0]._doc.upload_files.length; i++) {
                        var curFileName = results[0]._doc.upload_files[i].name;
                        var curUpdated_at = results[0]._doc.upload_files[i].updated_at;
                        var url = "/uploads/" + curFileName;
                    %>
                    <div class="d1">
                        <br><br><br>
                        <a href="<%=url%>">
                        #<%= i+1 %> - 파일명 : <%=curFileName %>
                        </a>
                        <br><br><br>
                        updated_at : <%=curUpdated_at %>
                    </div>
                    <%
                        }
                    %>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="foot-center">
            <ul>
                <li>© 2021 GitHub, Inc.</li>
                <li><a href="https://docs.github.com/en/github/site-policy/github-terms-of-service">Terms</a></li>
                <li><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">Privacy</a></li>
                <li><a href="https://github.com/security">Security</a></li>
                <li><a href="https://www.githubstatus.com/">Status</a></li>
                <li><a href="https://docs.github.com/en">Docs</a></li>
                <li><a href="https://github.com/">GitHub</a></li>
                <li><a href="https://support.github.com/request">Contact GitHub</a></li>
                <li><a href="https://github.com/pricing">Pricing</a></li>
                <li><a href="https://docs.github.com/en">API</a></li>
                <li><a href="https://services.github.com/">Training</a></li>
                <li><a href="https://github.blog/">Blog</a></li>
                <li><a href="https://github.com/about">About</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>